<!--
<form accept-charset="UTF-8" action="/comments" class="new_comment" id="new_comment" method="post">
-->
<!--

  <form accept-charset="UTF-8" action="/comments" class="new_comment" data-remote="true" id="new_comment" method="post">

  -->
<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="response_message"></div>
  Add a comment to this tweet:
  <blockquote>
    <%=@tweet.tweet%>
  </blockquote>
  <div class="field">
    <%= f.label :comment_text %><br>
    <%= f.text_area :comment_text %>
  </div>
  <div class="actions">
    <%= f.hidden_field :tweet_id, :value=>@tweet_id%>
    <%= f.submit %>
  </div>
<% end %>
